<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bysj.eyeapp.view">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name="com.bysj.eyeapp.util.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/CustomTheme">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>


    <activity
        android:name=".PersonCentreActivity">
    </activity>
    <activity
        android:name=".PersonInfo">
    </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/CustomTheme">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".RegisterActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".TestSensitivityActivity" />
        <activity android:name=".TestColorbindResultActivity" />
        <activity android:name=".TestSensitivityResultActivity" />
        <activity android:name=".TestVisionResultActivity" />
        <activity android:name=".TestAstigmatismResultActivity" />
        <activity android:name=".KnowledgeViewPaperActivity" />
        <activity android:name=".KnowledgeAdvisoryActivity" />
        <activity android:name=".ForgetPassActivity"></activity>
    </application>

</manifest>